/* Hand-Written Custom CSS */
.main-body {
	background-image: url('/images/background.jpg');
	/* Move down content because we have a fixed navbar that is 50px tall */
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.boss-body {
  background-image: url('/images/background_fire.jpg');
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.spooky-body {
  background-image: url('/images/background_spooky.gif');
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-container {
	background-color: #FDFDFD;
  border-style: double;
  border-color: #e7e7e7;
  padding-bottom: 15px;
  padding-top: 1rem;
  margin-top: 45px;
	-webkit-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
	box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
}

.spooky-container {
  background-color: #FDFDFD;
  border-style: double;
  border-color: #44034e;
  border-width: 10px;
  padding-bottom: 15px;
  padding-top: 1rem;
  margin-top: 45px;
  -webkit-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
}

.battle-box {
  margin-left: 3%;
  margin-top: 20px;
  padding: 5px;
  background-color: #FDFDFD;
  border-style: double;
  border-color: #710707;
  border-width: 10px;
  -webkit-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
}

.boss-container {
  background-color: #FDFDFD;
  border-style: double;
  border-color: #710707;
  border-width: 10px;
  padding-bottom: 15px;
  padding-top: 1rem;
  margin-top: 45px;
  -webkit-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
}

.stats {
  font-family: 'Gloria Hallelujah', cursive;
}

.boss {
  font-family: 'Walter Turncoat', cursive;
}

.pet-horizontal {
  webkit-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 29px -10px rgba(0,0,0,0.75);
  margin-bottom: 3px;
}

.quest-card {
  width: 9rem;
  margin-right: 10px;
}

.shop-card {
  margin-bottom: 10px;
}

.pet-item {
  width: 13rem;
  margin-right:10px;
  margin-bottom: 5px;
}

.dead-pet {
  background-image: url("/images/rip.png");
  background-size: contain;
}

.text-center {
    text-align: center!important;
}

.pet-box {
  padding-bottom: 15px;
}

.pet-frame {
  margin-bottom: 40px;
}

.profile {
  height: 150px;
  width: 150px;
  margin-right: 15px;
}

.pet-boss {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.stat {
  margin-bottom: 0px;
}

.scum-thumb {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

/* Changes to Bootstrap 4 Cards */
.card-img-top {
  width:100%;
  height: auto;
}

/*.card {
	margin: 10px;
	padding: 0px;
}*/

/* CSS Spinner from http://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  margin-bottom: 60px;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}